.nav {
  display: flex;
  list-style: none;
  padding: 0;

  &--right {
    justify-content: flex-end;

    @include tablet() {
      justify-content: center;
    }
  }

  &__item {

    &-link {
      color: $color-darkblue;
      display: block;
      font-size: $font-small;
      font-weight: $font-bold;
      padding: 4px 14px;
      position: relative;
      text-decoration: none;
      transition: color .2s linear;
    }

    &--active {

      .nav__item-link {
        color: $color-salmon;
      }
    }
  }
}
