.mt--20 {
    margin-top: 20px;
}

.mt--40 {
    margin-top: 40px;
}

.mt--80 {
    margin-top: 80px;
}

.mb--0 {
    margin-bottom: 0 !important;
}

.size-100 {
    font-size: 100px;
}

.color-white {
    color: $color-white;
}
