.footer {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;

  p {
    color: $color-white;
    font-size: $font-x-small;
  }

  span {
    color: $color-red;
    font-size: $font-x-small;
  }

  a {
    color: $color-aqua;
    text-decoration: none;
    font-size: $font-x-small;
  }
}
