// header {
//   display: grid;
//   grid-template-columns: repeat(3, 33%);
//   grid-gap: 10px;

//   .box {
//     color: $color-blue;
//     padding: 10px;
//     margin: 0 20px;
//     font-weight: $font-extra-bold ;
//   }
// }


[game-board] {
  table {
    border-spacing: 0;

    td {
      width: 20px;
      height: 20px;


      &.blink {
        animation: blinker 1s linear infinite;
        transform: none;
        will-change: transform;
        border-radius: 50%;
      }
    }

    @keyframes blinker {
      50% {
        opacity: .6;
        transform: scale(1.2, 1.2);
      }
    }
  }
}
