.friends {
  background-color: $color-darkblue;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, lighten($color-darkblue, 8%) 10%, $color-darkblue 40%);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-auto-columns: 100%;
  grid-template-areas:
  "header"
  "main"
  "footer";

  @include tablet() {
    grid-gap: 0;
  }

  .header {
    grid-area: header;
  }

  .main {
    align-items: center;
    display: flex;
    grid-area: main;
    justify-content: center;
    text-align: center;

    .item {
      align-items: center;
      background-color: $color-white;
      box-shadow: 0 3rem 5rem -2rem rgba($color-black, .3);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      padding: 40px;
      position: relative;
      width: 100%;
      z-index: 3;

      .item__photo {
       border-radius: 50%;
       height: 60px;
       object-fit: cover;
       overflow: hidden;
       width: 60px;
       margin: 4px auto;

       img {
        object-fit: cover;
        width: 100%;
      }
    }

    .item__name {
      @include typography($font-medium, $font-light);
      color: $color-text-default;
      flex-basis: 80%;
      width: 80%;
    }
  }
}

.footer {
  grid-area: footer;
}

h1 {
  color: $color-white;
  text-align: center;

  @include tablet() {
    font-size: $font-xx-large;
  }
}
}
