.friends {
  background-color: $color-darkblue;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, lighten($color-darkblue, 8%) 10%, $color-darkblue 40%);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-auto-columns: 100%;
  grid-template-areas:
  "header"
  "main"
  "footer";

  @include tablet() {
    grid-gap: 0;
  }

  .header {
    grid-area: header;
  }

  .main {
    align-items: center;
    display: flex;
    grid-area: main;
    justify-content: center;
    text-align: center;

    .item {
      align-items: center;
      background-color: $color-white;
      box-shadow: 0 3rem 5rem -2rem rgba($color-black, .3);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 40px;
      padding: 40px;
      position: relative;
      width: 100%;
      z-index: 3;

      .item__photo {
       border-radius: 50%;
       height: 80px;
       object-fit: cover;
       overflow: hidden;
       width: 80px;
       margin: 0 auto;

       img {
        object-fit: cover;
        width: 100%;
      }

      span {
        background-color: currentColor;
        border-radius: 50%;
        border: 8px solid $color-white;
        height: 20px;
        left: 60px;
        position: absolute;
        right: 0;
        top: 100px;
        width: 20px;
        margin: auto;
      }
    }

    .item__content {
      flex-basis: 80%;
      margin: 20px 0;
      width: 80%;

      .item__name {
        @include typography($font-large, $font-bold);
        color: $color-text-default;
      }

      .item__mail {
        @include typography($font-medium, $font-thin);
        color: $color-pink;
        font-family: $font-family-default;
      }

      .item__history {
        @include typography($font-small, $font-normal);
        font-family: $font-family-default;
        color: lighten($color-black , 80%);
        margin-top: 10px;
      }
    }

    .item__options {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.footer {
  grid-area: footer;
}

h1 {
  color: $color-white;
  text-align: center;

  @include tablet() {
    font-size: $font-xx-large;
  }
}
}
