.game {
  background-color: $color-darkblue;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, lighten($color-darkblue, 8%) 10%, $color-darkblue 40%);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-template-areas:
  "header header header"
  "sidebar main aside"
  "footer footer footer";

  .header {
    grid-area: header;
  }

  .sidebar {
    align-items: left;
    background-color: $color-white;
    box-shadow: 0 3rem 5rem -2rem rgba($color-black, .4);
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: center;
    padding: 0 40px;

    .sidebar__item {
      font-size: $font-large;
      margin: 20px 0;
    }
  }

  .aside {
    align-items: left;
    background-color: $color-white;
    box-shadow: 0 3rem 5rem -2rem rgba($color-black, .4);
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: center;
    padding: 0 40px;

    .sidebar__item {
      font-size: $font-large;
      margin: 20px 0;
    }
  }

  .main {
    grid-area: main;
    height: 70vh;

    table {
      border-spacing: 0;
      box-shadow: 0 3rem 5rem -2rem rgba($color-black, .4);
      margin: auto;

      td {
        width: 20px;
        height: 20px;
      }
    }
  }

  .aside {
    grid-area: aside;
    height: 70vh;
  }

  .footer {
    grid-area: footer;
  }
}
