.profile {
  background-color: $color-darkblue;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, lighten($color-darkblue, 8%) 10%, $color-darkblue 40%);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-template-areas:
  "header"
  "main"
  "footer";


  .header {
    grid-area: header;
  }

  .main {
    align-items: center;
    display: flex;
    grid-area: main;
    justify-content: center;
    min-height: 60vh;
    text-align: center;


    .photo {
      border-radius: 50%;
      height: 220px;
      margin-top: 25px;
      overflow: hidden;
      width: 220px;
    }

    .card {
      background-color: $color-white;
    }
  }

  .footer {
    grid-area: footer;
  }

  h1 {
    color: $color-white;
    text-align: center;
  }
}
