.rating {
  background-color: $color-darkblue;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, lighten($color-darkblue, 8%) 10%, $color-darkblue 40%);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-auto-columns: 100%;
  grid-template-areas:
  "header"
  "main"
  "footer";

  @include tablet() {
    grid-gap: 0;
  }

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;

    .card {
      background-color: $color-white;
      box-shadow: 0 3rem 5rem -2rem rgba($color-black, .3);
      margin: auto;
      margin-bottom: 80px;
      position: relative;
      z-index: 3;
    }
  }

  .footer {
    grid-area: footer;
  }
}
