.nav {
  display: flex;
  padding: 0;
  list-style: none;

  &--right {
    justify-content: flex-end;
  }

  .nav__item {

    .nav__itemLink {
      color: $color-darkblue;
      display: block;
      font-size: $font-medium;
      font-weight: $font-bold;
      padding: 4px 14px;
      position: relative;
      text-decoration: none;
      transition: color .2s linear;
    }

    &--active {

      .nav__itemLink {
        color: $color-salmon;
      }
    }
  }
}
