.game {
  background-color: $color-darkblue;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, lighten($color-darkblue, 8%) 10%, $color-darkblue 40%);
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-auto-columns: auto;
  grid-template-areas:
  "header header header"
  "sidebar main aside"
  "footer footer footer";

  @include tablet() {
    grid-gap: 0;
    grid-template-areas:
    "header header "
    "sidebar aside"
    "main main"
    "footer footer";
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    align-items: left;
    background-color: $color-white;
    box-shadow: 0 3rem 5rem -2rem rgba($color-black, .4);
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: center;
    margin: 40px;
    padding: 0 40px;

    @include tablet() {
      margin: 20px 10px;
    }

    .sidebar__item {
      font-size: $font-large;
      margin: 20px 0;
    }
  }

  game-board {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .aside {
    align-items: left;
    background-color: $color-white;
    box-shadow: 0 3rem 5rem -2rem rgba($color-black, .4);
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: center;
    margin: 40px;
    padding: 0 40px;

    @include tablet() {
      margin: 20px 10px;
    }

    .aside__item {
      font-size: $font-large;
      margin: 20px 0;
    }
  }

  .main {
    grid-area: main;

    table {
      border-spacing: 0;
      box-shadow: 0 3rem 5rem -2rem rgba($color-black, .4);
      margin: auto;
      background-color: $color-white;

      td {
        width: 20px;
        height: 20px;

        @include tablet() {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .aside {
    grid-area: aside;
  }

  .footer {
    grid-area: footer;
  }
}
